# Node
node_modules/
npm-debug.log*

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Environment
.env
.env.local
.env.*.local

# Go
backend/bin/
*.exe
*.test

# Unity
unity/[Ll]ibrary/
unity/[Tt]emp/
unity/[Oo]bj/
unity/[Bb]uild/
unity/[Bb]uilds/
unity/[Ll]ogs/
unity/[Uu]ser[Ss]ettings/
unity/[Mm]emoryCaptures/
unity/[Aa]ssets/AssetStoreTools*
unity/[Aa]ssets/Plugins/Editor/JetBrains*
unity/.vs/
unity/.gradle/
unity/ExportedObj/
unity/.consulo/
unity/*.csproj
unity/*.unityproj
unity/*.sln
unity/*.suo
unity/*.tmp
unity/*.user
unity/*.userprefs
unity/*.pidb
unity/*.booproj
unity/*.svd
unity/*.pdb
unity/*.mdb
unity/*.opendb
unity/*.VC.db
unity/*.pidb.meta
unity/*.pdb.meta
unity/*.mdb.meta
unity/sysinfo.txt
unity/*.apk
unity/*.aab
unity/*.unitypackage
unity/*.app
unity/crashlytics-build.properties

# OS
.DS_Store
Thumbs.db
